.logline > span, .logLineSelect {
    float: left;
    display: inline-block;
    padding: .3em;
    padding-top: 0em;
    height: 3em;
    vertical-align: middle;
}

.logline > span {
    padding-top: .5em;
}

.list-to-comma-str figcaption {
    display: inline;
    font-weight: bold;
}

.list-to-comma-str figcaption:after {
    content: ": ";
}

.list-to-comma-str ul {
    display: inline;
    list-style: none;
    padding-left: 0;
}

.list-to-comma-str li {
    display: inline;
}

.list-to-comma-str li + li:before {
    content: ", ";
}

.gen-controls {
    display: inline-block;
    width: 100%;
}

.generate {
    float: left;
}

.lock {
    float: right;
}

.gen-text-arrow {
    font-size: 700%;
}