.logline {
    line-height: 3em;
}

.logLineSelect, .logLineSelectKeywords {
    width: auto;
    display: inline-block;
    margin: .3em;
}

.logLineSelect:required:invalid {
    /* color: rgb(161, 37, 37); */
    color: rgb(128, 128, 128);
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
      color: rgb(33, 37, 41);
  }

.logLineSelectKeywords {
    line-height: 1em;
}

.list-to-comma-str figcaption {
    display: inline;
    font-weight: bold;
}

.list-to-comma-str figcaption:after {
    content: ": ";
}

.list-to-comma-str ul {
    display: inline;
    list-style: none;
    padding-left: 0;
}

.list-to-comma-str li {
    display: inline;
}

.list-to-comma-str li + li:before {
    content: ", ";
}

.gen-controls {
    display: inline-block;
    width: 100%;
}

.generate {
    float: right;
}

.lock {
    float: right;
}

.char-count {
    float: left;
}

.text-loading {
    opacity: 0.7;
}

.sequence-name {
    float: left;
}